In [1]:
%load_ext sql

In [2]:
import configparser

# CONFIG
config = configparser.ConfigParser()
config.read('dwh.cfg')
DWH_ENDPOINT=config['CLUSTER']['HOST']
DWH_USER=config['CLUSTER']['DB_USER']
DWH_PASS=config['CLUSTER']['DB_PASSWORD']
DWH_DB=config['CLUSTER']['DB_NAME']
DWH_PORT=int(config['CLUSTER']['DB_PORT'])

In [3]:
%sql postgresql://$DWH_USER:$DWH_PASS@$DWH_ENDPOINT:$DWH_PORT/$DWH_DB

'Connected: dwhuser@dwh'

In [4]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1831, datetime.datetime(2018, 11, 1, 21, 28, 54, 796000), 8, 'free', None, 'ARH39ZK1187B9ABC22', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (2637, datetime.datetime(2018, 11, 2, 5, 15, 41, 796000), 17, 'free', None, 'ARRH63Y1187FB47783', 118, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2101, datetime.datetime(2018, 11, 2, 9, 12, 32, 796000), 15, 'paid', None, 'AR73S4G1187B9A03C2', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (2990, datetime.datetime(2018, 11, 2, 9, 54, 59, 796000), 15, 'paid', None, 'ARHATLI1187FB52C76', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (2173, datetime.datetime(2018, 11, 2, 10, 11, 24, 796000), 15, 'paid', None, 'ARBVHDI1187FB436DF', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [5]:
%sql SELECT count(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6889,)]

In [6]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [7]:
%sql SELECT count(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(96,)]

In [8]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153.36444')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343.09179')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180.76688')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263.99302')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385.90649'))]

In [9]:
%sql SELECT count(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [10]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', None, None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None),
 ('AR048JZ1187B9AEB85', 'Yellowcard', 'Jacksonville, FL', 30.3314, -81.6558),
 ('AR04S8J1187FB48358', 'Clifford Brown / Max Roach Quintet', 'Wilmington, DE', 39.7402, -75.5508),
 ('AR04S8J1187FB48358', 'Clifford Brown', 'Wilmington, DE', 39.7402, -75.5508)]

In [11]:
%sql SELECT count(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [12]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 44, 11, 2018, 4)]

In [13]:
%sql SELECT count(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cseagkqyzyh4.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6813,)]

## NOTE: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database.